.header {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: Arial, sans-serif !important;
}

body {
    font-weight: normal;
    font-size: 14px;
}

#legend h3 {
  font-weight: normal;
  font-size: 16px;
}

#layer-selection h3 {
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
}

#details-modal h2 {
  font-weight: bold;
  font-size: 18px;
}

.toggle-button {
  font-weight: normal;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
}

/* Style for the Apply button */
.apply-button {
  display: block; /* Always on its own line */
  background-color: green; /* background color */
  color: white; /* White text color */
  padding: 10px 10px; /* Padding to make it bigger */
  font-size: 16px; /* Font size */
  border: 2px solid black;
  cursor: pointer; /* Add a pointer cursor on hover */
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Space between the buttons */
  align-items: center; /* Align buttons vertically */
  margin-top: 10px; /* Adjust the margin to separate buttons from other elements */
}

/* Additional styles for the "Clear" button (you can customize these styles) */
#clear-button {
  display: block; /* Always on its own line */
  background-color: red; /* background color */
  color: white; /* White text color */
  padding: 5px 5px; /* Padding to make it bigger */
  font-size: 14px; /* Font size */
  border: 2px solid black; /* Remove border */
  cursor: pointer; /* Add a pointer cursor on hover */
  margin-top: 20px;
}

.modal {
  font-size: 12px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  font-size: 12px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.checkbox-container {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.checkbox-container input[type="checkbox"],
.checkbox-container label {
    margin: 2px;
    vertical-align: middle; /* this can help with inline elements like inline-block */
}

/* Style for the 'Details' button */

.details-btn {
  background-color: #007bff; /* Blue color for the button */
  color: #fff;  /* White color for the text on the button */
  font-size: 12px; /* Font size */
  border: 1px solid black; /* Remove any default border */
  padding-left: 5px; /* Add some padding around the text */
  padding-right: 5px; /* Add some padding around the text */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5px; /* Add some space to the left of the button */
  cursor: pointer; /* Change the cursor on hover over the button */
  flex-shrink: 0;  /* prevent shrinking */
  margin-left: auto;
}

.details-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.details-title {
    font-size: 14px;
}

/* Style for the attribute dropdown container */
.attribute-dropdown-container {
  font-size: 12px;
  display: flex;
  justify-content: left; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Style for the label */
.attribute-dropdown-container label {
  font-size: 14px;
  margin-right: 10px; /* Add right margin for spacing */
}

/* Style for the "Select Attribute" dropdown */
#attribute-dropdown {
  width: 80%; /* Make the dropdown fill the available width */
  padding: 5px; /* Add some padding to the dropdown */
  font-size: 14px; /* Adjust the font size as needed */
}

/* Style for the attribute dropdown container */
.range-dropdown-container {
  display: flex;
  justify-content: left; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Style for the label */
.range-dropdown-container label {
  margin-right: 10px; /* Add right margin for spacing */
}

/* Style for the "Select Attribute" dropdown */
#range-dropdown {
  width: 80%; /* Make the dropdown fill the available width */
  padding: 5px; /* Add some padding to the dropdown */
  font-size: 14px; /* Adjust the font size as needed */
}

/* Style for the attribute dropdown container */
.chargingTime-dropdown-container {
  display: flex;
  justify-content: left; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Style for the label */
.chargingTime-dropdown-container label {
  margin-right: 10px; /* Add right margin for spacing */
}

/* Style for the "Select Attribute" dropdown */
#chargingTime-dropdown {
  width: 80%; /* Make the dropdown fill the available width */
  padding: 5px; /* Add some padding to the dropdown */
  font-size: 14px; /* Adjust the font size as needed */
}

/* Style for the attribute dropdown container */
.maxWaitTime-dropdown-container {
  display: flex;
  justify-content: left; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Style for the label */
.maxWaitTime-dropdown-container label {
  margin-right: 10px; /* Add right margin for spacing */
}

/* Style for the "Select Attribute" dropdown */
#maxWaitTime-dropdown {
  width: 80%; /* Make the dropdown fill the available width */
  padding: 5px; /* Add some padding to the dropdown */
  font-size: 14px; /* Adjust the font size as needed */
}


.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  visibility: hidden;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #5b52a6;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
