Django==4.0.5
django-environ==0.9.0
django-storages==1.12.3
s3transfer==0.6.0
boto3==1.24.23
botocore==1.27.23
pandas==1.5.3
geopandas==0.12.2
geopy==2.3.0
tqdm==4.64.1
openpyxl==3.0.10
seaborn==0.12.2
scipy==1.11.2
