{% load static %}
<div id="map" class="map"></div>
<div id="legend" style="position: absolute; bottom: 20px; left: 20px; background: rgba(255, 255, 255, 0.8); padding: 10px;">
  <h3><b>Legend</b></h3>
</div>

<div id="layer-selection" style="position: absolute; top: 85px; right: 20px; background: rgba(255, 255, 255, 0.8); padding: 10px;">
<h3>Area Feature (Choose one)</h3>
<select id="area-layer-dropdown">
  <option>Select Area Feature</option>
  <!-- Add options for area layers -->
</select>

  <button class="details-btn" id="area-details-button" style="visibility: hidden;">More</button>

<h3>Highway Features (Choose multiple)</h3>
<button class="toggle-button" data-target="highway-flow-checkboxes">Show Highway Flows</button>
<div id="highway-flow-checkboxes" style="display: none;">
  <!-- Add checkboxes for highway flows -->
</div>

<br><br>
  <button class="toggle-button" data-target="highway-infra-checkboxes">Show Planned Infrastructure Corridors</button>
<div id="highway-infra-checkboxes" style="display: none;">
  <!-- Add checkboxes for highway flows -->
</div>

<h3>Point Features (Choose multiple)</h3>
<button class="toggle-button" data-target="point-refuel-checkboxes">Show Charge/Fuel Stations</button>
<div id="point-refuel-checkboxes" style="display: none;">
  <!-- Add checkboxes for point layers -->
</div>

<br><br>

  <button class="toggle-button" data-target="point-h2prod-checkboxes">Show Hydrogen Production Facilities</button>
<div id="point-h2prod-checkboxes" style="display: none;">
  <!-- Add checkboxes for point layers -->
</div>

<br><br>

  <button class="toggle-button" data-target="point-other-checkboxes">Show Other Point Features</button>
<div id="point-other-checkboxes" style="display: none;">
  <!-- Add checkboxes for point layers -->
</div>


<div class="button-container">
  <button id="apply-button" class="apply-button">Apply</button>
  <div class="lds-default" id="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <button id="clear-button" class="clear-button">Clear Layers</button>
</div>

</div>

<div id="details-modal" class="modal">
<div class="modal-content">
  <span class="close-btn">&times;</span>
  <h2 id="details-title">Details</h2>
  <p id="details-content">Details content goes here.</p>
</div>
</div>

<!-- Modal for displaying regulations -->
<div id="regulations-modal" class="modal">
  <div id="regulations-content" class="modal-content">
    <span class="close-regulations">&times;</span>
    <h1>Regulations and Incentives for [State Name]</h1>
    <p><em>Click on targets to view more information.</em></p>
    <div id="regulations-details">
      <p>Loading...</p>
      <p><em>Italicized regulations and incentives benefit multiple fuel types and appear multiple times.</em></p>
    </div>
  </div>
</div>

<!-- Stuff Displaying DOE Plan, on pause -->
<script>
  const GET_GEOJSONS = '{% url "get-geojsons" %}';
  const GET_GEOJSON = '{% url "get-geojson" %}';
  const STORAGE_URL = 'https://mcsc-datahub-files.s3.us-west-2.amazonaws.com/';
  const CSV_URL = 'https://raw.githubusercontent.com/mcsc-impact-climate/FAF5-Analysis/main/data/incentives_and_regulations/state_level/';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script type="module"  src='{% static "main.js"%}'></script>
