/* CSS for full-screen map */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

/* CSS for legend header */
.legend-header {
    text-align: left; /* Left-justify the text */
    margin-bottom: 5px; /* Add space below the header */
}
